<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="shortcut icon" href="../static/img/bear.png" th:href="@{img/bear.png}" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="../static/css/userInformation.css" th:href="@{css/userInformation.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/likeDetBox.css" th:href="@{css/likeDetBox.css}">
</head>
<body onload="checkCookies()">
	<div id="dynamicNav" class="nav-wrp">
		<ul class="navbar-left">
			<li class="dynamic">
				<a href="/index" class="logoMark"><em>Bear Beauty</em></a>
			</li>
			<li class="dynamic">
				<a href="/index" class="indexLink">首页</a>
			</li>
			<li class="dynamic products">
				<a href="#" class="product">产品</a>
				<ul class="goodsType">
					<li>你好</li>
					<li>这是</li>
					<li>做测试用的</li>
					<li>高度</li>
					<li>没有问题</li>
				</ul>
			</li>
		</ul>
		<ul class="navbar-right">
			<li class="dynamic logOut">
				<img class="AfterUserImg" src="#"/>
				<ul class="sonMenu" id="nav2">
					<li>
						<a href="#">个人信息</a>
					</li>
					<li>
						<a href="#">我的店铺</a>
					</li>
					<li>
						<a href="#" onclick="userExist()">安全退出</a>
					</li>
				</ul>
			</li>
			<li class="dynamic">
				<a href="#" class="like"><i class="iconfont-2">&#xe67b;</i></a>
			</li>
			<li class="dynamic">
				<a href="#" class="order"><i class="iconfont-2">&#xe669;</i></a>
			</li>
		</ul>
	</div>

	<div class="main-box">
		<ul class="info-main">
			<li class="title">个人信息</li>
			<li>
				<hr class="liner">
			</li>
			<li class="inforType" id="userid-tag">
				<input type="text" class="readonly" name="userID" id="user-id" readonly="readonly">
			</li>
			<li class="inforType" id="username-tag">
				<input type="text" name="userName" id="user-name" >
			</li>
			<li class="inforType" id="usermail-tag">
				<input type="text" name="userEmail" id="user-email" >
			</li>
			<li class="userSex">
				<input type="radio" name="sex" id="user-man" value="1">男
				<input type="radio" name="sex" id="user-woman" value="0">女
			</li>
			<li class="inforType" id="useradd-tag">
				<input type="text" name="address" id="user-address" >
			</li>
			<li>
				<img src="#" class="userImage" id="user-image">
				<button class="btn-change order-btn" onclick="Register_uploadImage()">更换头像</button>
				<button class="btn-img-save order-btn" onclick="userModifyImage()">保存头像</button>
				<input type="file" id="reg-user-file" name="reg-user-file" style="display: none" accept="">
			</li>
			<li class="save">
				<input type="submit" name="" value="保存" onclick="userModifyInfo()">
			</li>
		</ul>
		<ul class="address-main">
			<li class="title">收货地址</li>
			<li>
				<hr class="liner">
			</li>
		</ul>
		<ul class="order-main" id="order-main">
			<li class="title">我的订单</li>
			<li>
				<hr class="liner">
			</li>
			<!-- <li class="like-detail">
				<span class="orders-goods-name">商品名称</span>
				<span class="orders-deal">处理状态:</span>
				<span class="orders-id">订单ID:</span>
				<span class="orders-goods-num">购买数量:</span>
				<span class="orders-goods-price">购买总价:</span>
				<span class="orders-goods-time">下单时间:</span>
				<span class="orders-deal-1">我怎么知道有什么专题太</span>
				<span class="orders-goods-id-1">555</span>
				<span class="orders-goods-num-1">555</span>
				<span class="orders-goods-price-1">555</span>
				<span class="orders-goods-time-1">24545345345</span>
				<img src="http://192.168.35.112:8081/download/o2o/images'+ response.data[i].goodsObject.image.replace(/\\/g,"/") +'" class="orders-img">
				<button class="get-order order-btn" onclick="getOrder()">确定收货</button>
				<button class="cancel-order order-btn" onclick="cancelOrder(this)">取消订单</button>
			</li> -->


		</ul>
		<ul class="like-main" id="like-main">
			<li class="title">我的收藏</li>
			<li>
				<hr class="liner">
			</li>
			<!-- <li class="like-detail">
				<span class="unlike" onclick="unlikeGood(this)">×</span>
				<span class="product-name">what the hell is wrong with you</span>
				<span class="inventory">库存:</span>
				<span class="inventory-num">999</span>
				<span class="good-price">￥999</span>
				<img src="" class="product-img">
			</li> -->

		</ul>
	</div>
	<div class="likeDetBox">
		<div class="signoff" id="signoffTwo">
			<a href="javascript:void(0)">×</a>
		</div>
		<img src="" class="like-product-img">
		<span class="like-product-name">商品名称商品名称商品名称商品名称</span>
		<span class="like-product-desc">商品详情商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述商品详情描述</span>
		<span class="like-inventory">库存:</span>
		<span class="like-inventory-num">5</span>
		<button id="shop-id" value="" style="display:none"></button>
		<button class="like-good-counter-min"><i class="iconfont" onclick="">&#xe74b;</i></button>
		<span class="like-good-counter-num">0</span>
		<button class="like-good-counter-plus"><i class="iconfont" onclick="">&#xe631;</i></button>
		<span class="like-good-price" >￥80</span>
		<span class="like-sales">销量:</span>
		<span class="like-sales-num"></span>
		<!-- 立即购买 -->
		<button class="like-purchase"><i class="iconfont-3"  onclick="buyGoods(this)">&#xe747;</i></button>
		<!-- 加入购物车 -->
		<button class="like-shopcar"><i class="iconfont-3"  onclick="addShoppingCar(this)">&#xe636;</i></button>
	</div>

	<div class="menu-box">
		<ul class="info-menu">
			<span class="title">我的</span>
			<li class="info-site" id="active">个人信息</li>
			<li class="myaddress">收货地址</li>
			<li class="myOrder">订单</li>
			<li class="myOrder">收藏</li>
		</ul>
	</div>
</body>
<script type="text/javascript" src="../static/js/jquery-3.2.1.min.js" th:src="@{js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" src="../static/js/userInformation.js" th:src="@{js/userInformation.js}"></script>
<script src="../static/js/js.cookie.js" th:src="@{js/js.cookie.js}"></script>
<script type="text/javascript" src="../static/js/tools.js" th:src="@{js/tools.js}"></script>
</html>
